.employee-input {
	width: 100%;
}

.employee-input p {
	position: relative;
	top: 15px;
	left: 4px;
}

.input {
	width: 100%;
	border: none;
	background-color: transparent;
	outline: none;
	border-bottom: 1.5px solid grey;
	padding-bottom: 2px;
}