.employee-input {
	width: 100%;
	margin-top: 10px;
}

.employee-input p {
	position: relative;
	left: 3px;
	margin: 0px;
}

.input {
	width: 100%;
	border: none;
	background-color: transparent;
	outline: none;
	border-bottom: 1.5px solid grey;
	padding-bottom: 2px;
}

