@import '../styles/constants.css';

.Home-container {
	margin-top: 80px;
	display: flex;
	min-height: 100vh;
	position: fixed;
	width: 100%;
}

.Home-sider {
	flex: 1;
	background-color: #F4F4F4;
	padding: 30px 30px 0px 50px;
	border-right: 2px solid rgb(202, 202, 202);
}

.filter-container {
}



.Employee-table {
	flex: 6;
	background-color: #fff;
}

.etable-header {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px 30px 0px 20px;
	border-bottom: 3px solid rgb(201, 201, 201)
}

.etable-header p {
	margin: 0px;
}

.employee-list {
	overflow-y: auto;
	height: 70vh;
	padding-bottom: 20px;
}

.employee-item {
	border: none;
	align-items: center;
	padding: 10px 10px 10px 20px;
}
