@import '../styles/constants.css';

.Home-container {
	margin-top: 80px;
	display: flex;
	min-height: 100vh;
	position: fixed;
	width: 100%;
}

.Home-sider {
	flex: 1;
	background-color: #F4F4F4;
	padding: 30px 20px 0px 50px;
	border-right: 2px solid rgb(202, 202, 202);
}

.filter-container {
}



.Employee-table {
	flex: 5;
	background-color: #fff;
}
