/* Details and Credentials */

.employee-view-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.details-container {
}

/* credentials */
.credentials-container {
}

.inspections-container {
	
}